* {
  box-sizing: border-box;
}


 body {
  margin: 0;
  height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("../images/babu.jpeg") center/cover no-repeat;
  font-family: 'Georgia', serif;
  overflow: hidden;
  color: #f5f5f5;
}



canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.intro {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.intro p {
  opacity: 0.7;
  font-size: 1.1rem;
}

.enter {
  margin-top: 30px;
  padding: 14px 45px;
  border-radius: 40px;
  border: 2px solid #ff8c00;
  text-decoration: none;
  color: #ff8c00;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
}

.enter:hover {
  background: #ff8c00;
  color: black;
}

.enter:hover {
  background: #444;
  color: white;
}
